<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="description" content="all about my skills ">
      <meta name="keywords" content="HTML, CSS, JavaScript, bootstrap,React,Node,Express,Github">
      <meta name="author" content="Ks Rawat">
    <title>portfolio</title>
    <link rel="stylesheet" href="../src/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <link rel="shortcut icon" href="../src/image/Lt.jpg" type="image/y-icon" />
  </head>
  <body>
    <!-- ***************************header section start ************************************** -->
    <!-- *************************************************************************************** -->
    <header>
      <nav class="container navbar">
        <h1 class="brand-name">TechRawat</h1>
        <ul class="navbar-item flex">
          <li><a href="#home" class="nav-link">HOME</a></li>
          <li><a href="#project" class="nav-link">PROJECTS</a></li>
          <li><a href="#about" class="nav-link">ABOUT</a></li>
          <!-- <li><a href="#" class="nav-link">CONTACT US</a></li> -->
        </ul>
      </nav>

      <!-- *********************hero section start *************************************** -->
      <!-- ******************************************************************************** -->

      <div class="container main-hero" id="home" data-aos="slide-down">
        <h1 class="heading hero-text">
          Hi, I'm <br />
          SK RAWAT . I am {MERN} developer.
        </h1>
      </div>
    </header>

    <!-- ************************* skills section start ******************************** -->
    <!-- ************************************************************************************** -->
    <!-- ************************************************************************************** -->

    <div class="container" data-aos="fade-in">
      <h2 class="skill-heading heading">My skills</h2>

      <div class="col-md-6 row" data-aos="fade-in">
        <div class="left-skill">
          <div class="skill-thumbnail">
            <img src="../src//image/Lt2.jpg" alt="my pic" class="my-pic" />
          </div>
        </div>
        <div class="right-skill" data-aos="fade-in">
          <div class="skill-container col-lg-3">
            <div class="skill-card">
              <figure>
                <img src="../src/image/html.png" alt="html image" />
                <figcaption>HTML</figcaption>
              </figure>
            </div>
            <div class="skill-card" data-aos="fade-in">
              <img src="../src/image/css.jpg" alt="html image" />
              <figcaption>css</figcaption>
            </div>
            <div class="skill-card">
              <img src="../src/image/javascript.png" alt="html image" />
              <figcaption>JavaScript + ES6</figcaption>
            </div>
            <div class="skill-card" data-aos="fade-in">
              <img src="../src/image/node.png" alt="html image" />
              <figcaption>Node Js</figcaption>
            </div>
            <div class="skill-card" data-aos="fade-in">
              <img src="../src/image/express.png" alt="html image" />
              <figcaption>Express Js</figcaption>
            </div>
            <div class="skill-card" data-aos="fade-in">
              <img src="../src/image/React.jpg" alt="html image" />
              <figcaption>React js</figcaption>
            </div>
            <div class="skill-card" data-aos="fade-in">
              <img src="../src/image/mongodb.jpg" alt="html image" />
              <figcaption>mongoDb</figcaption>
            </div>
            <div class="skill-card" data-aos="fade-in">
              <img src="../src/image/bootstrap.png" alt="html image" />
              <figcaption>Bootstrap</figcaption>
            </div>
            <div class="skill-card" data-aos="fade-in">
              <img src="../src/image/jquery.jpg" alt="html image" />
              <figcaption>Jquery</figcaption>
            </div>
            <div class="skill-card" data-aos="fade-in">
              <img src="../src/image/github.png" alt="html image" />
              <figcaption>Github</figcaption>
            </div>
            <div class="skill-card" data-aos="fade-in">
              <img src="../src/image/python.png" alt="html image" />
              <figcaption>A little python</figcaption>
            </div>
            <div class="skill-card" data-aos="fade-in">
              <img src="../src/image/C.jpg" alt="html image" />
              <figcaption>c & c++ basics</figcaption>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ********************* projects section start here ************************** -->
    <!-- **************************************************************************** -->
    <div class="container project" id="project" data-aos="fade-in">
      <h2 class="heading">Projects</h2>
      <hr class="w-25 mx-auto" />
      <div class="project-section">
        <div class="project-box">
          <a href="https://softwarecreater.github.io/thirdAttempt/"
            >Music Player</a
          >
        </div>
        <div class="project-box" data-aos="fade-in">
          <a href="https://softwarecreater.github.io/bootstrap/"
            >Bootstrap Site</a
          >
        </div>
        <div class="project-box" data-aos="fade-in">
          <a href="https://softwarecreater.github.io/fotopointStudio"
            >FotoPoint Site</a
          >
        </div>
        <div class="project-box" data-aos="fade-in">
          <a href="https://softwarecreater.github.io/matrixRain/">MatRix Rain</a>
        </div>
        <div class="project-box" data-aos="fade-in">
          <a href="https://softwarecreater.github.io/robot/"
            >Funny Dancing Robot</a
          >
        </div>
        <div class="project-box" data-aos="fade-in">
          <a href="https://softwarecreater.github.io/clone/">Jio Sawan Clone</a>
        </div>
      </div>
    </div>

    <!-- *************************************************about us section ******************************************* -->
    <!-- ************************************************************************************************************** -->

    <div class="container about-section" id="about" data-aos="slide-left">
        <h2 class="heading">About us</h2>
        <hr class="w-25 mx-auto">
      <div class="about-pic" data-aos="slide-left">
        <figure>
          <img src="../src/image/Lt.jpg" alt="sk rawat pic" />
          <figcaption><span>Sachin rawat</span></figcaption>
        </figure>
      </div>
      <div class="about-text" data-aos="slide-right">
        <p class="para">
          Hi I am <span>sk rawat</span> full stack developer python web app
          developer. I am from
          <span>up</span> {UTTER PRADESH}.
        </p>
      </div>
    </div>


    <!-- **************************************footer section ********************************************** -->
    <footer>
        <div class="container footer-container">
            <div class="social-link"> <a href="https://www.github.com/softwarecreater/">Github</a> </div>

            <div class="social-link"><a href="#"> Instagram</a> </div>
            <div class="social-link"><a href="#">facebook</a> </div>
        </div>
  <p>&copy TechRawat all right reserved 2022</p>
    </footer>

    <script src="../src/main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    
    <script>
    AOS.init({
        offset:200,
        duration:1000,
    });
</script>
  </body>
</html>
